main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding: 45px;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 400px;
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.label{
    color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
}

.input{
    all: unset;
    background-color: darkgrey;
    color: #f9f9f9;
    padding: 4px 8px;
    width: 100%;
}

.button{
    all: unset;
    background-color: black;
    border: 1px solid darkgrey;
    border-radius: 4px;
    color: #f9f9f9;
    text-align: center;
    padding: 4px 8px;
    cursor: pointer;
    width: 100%;
}

.button:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}